extends layouts/main.pug 
include mixins/videoBlock
include partials/videoPlayer.pug
//- 여긴 localhost:4000/video/n 으로 올 경우


block content 
    .video-detail__container
        +videoPlayer({
            src:video.fileUrl

        })
        .video__info
            //- 비로그인 유저는 edit할 수 없다. + 비디오를 만든 사람과 로그인된 사람이 일치해야함
            if loggedUser
                
                if video.creator.id === loggedUser.id  
                    a(href=routes.editVideo(video.id))
                        button Edit video
            h5.video__title=video.title
            p.video__description=video.description
            if video.views === 1
                span.video__views 1 view
            else 
                span.video__views #{video.views} views
            .video__author
                |Uploaded By   
                a(href=routes.userDetail(video.creator.id))=video.creator.name
        .video__comments
            if video.comments.length === 1
                span.video__comment-number 1 comment
            else
                span.video__comment-number #{video.comments.length} comments 
            //- ajax처리를 위해 route url을 넣지 않음.
            form.add__comment#jsAddComment
                input(type="text", placeholder="Add a Comment")
            ul.video__comment-list
                each comment in video.comments
                    li
                        span=comment.text
                    
    //- +videoBlock()